/* Assigns font size 12px to all tags of class .info, text color #00FF00 to all tags of class .success and extend style of the class .info, and text color #FF0000 to all tags of class .warning and extend style of the class .info */
.info {
  font-size: 12px;
}

.success {
  @extend .info;
  color: #00ff00;
}

.warning {
  @extend .info;
  color: #ff0000;
}
